/* Section de l'image d'en-tête */
.hero-section {
    position: relative;
    width: 100%;
    height: 30%; /* Hauteur de la section */
}

.hero-header {
    background-color: #AAAAAA;
    text-align: center;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
}

.hero-img {
    background-color: #FFFFFF;
    opacity: 0.5;
    display: inline-block;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.hero-img img {
    max-width: 20px;
    height: 20px;
    margin-top: 12vh;
}

.hero-title {
    position: absolute; /* Positionne le titre par rapport à la section parent */
    bottom: 0; /* Espacement depuis le bas de l'image */
    left: 20px; /* Espacement depuis la gauche */
    color: white; /* Couleur du texte */
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.178); /* Fond semi-transparent pour améliorer la lisibilité */
    padding: 10px 20px;
    border-radius: 1px; /* Coins arrondis pour un meilleur design */
    z-index: 5; /* Assure que le titre est au-dessus de l'image */
}

/* Conteneur principal */
.content-container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.text-section {
    flex: 7; /* Prend 70% de la largeur */
    padding: 20px;
}

/* Section de la carte entreprise */
.card-section {
    flex: 3; /* Prend 30% de la largeur */
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #AAAAAA;
    text-align: center;
    padding: 30px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.card-img img {
    max-width: 20px;
    height: 20px;
    align-items: center;
}

/* Nouveau conteneur pour le titre et le cœur */
.title-container {
    display: flex; /* Active Flexbox */
    align-items: center; /* Alignement vertical des éléments */
    justify-content: space-between; /* Espacement entre le titre et le cœur */
    padding: 10px 20px; /* Ajoute un peu d'espace autour du titre et du cœur */
}

.card-title {
    font-size: 1.5rem; /* Taille du texte du titre */
    font-weight: bold; /* Texte en gras */
    color: var(--CBlack); /* Couleur du texte */
    margin: 0; /* Supprime les marges par défaut */
    flex: 1; /* Le titre prend tout l'espace disponible à gauche */
}

/* Styles pour le cœur */
.wishlist-heart-container {
    margin-left: 10px; /* Espace entre le titre et le cœur */
}

.wishlist-heart {
    width: 24px; /* Taille du cœur */
    height: 24px;
    color: var(--CpBlue);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.wishlist-heart:hover {
    opacity: 0.8; /* Effet hover : légèrement transparent */
}

.card-body {
    padding: 20px;
}

.card-body p {
    margin-bottom: 2vh;
}

.card-body li {
    margin-left: 3vw;
}

.card-footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.card-button {
    background-color: var(--CpBlue);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: var(--CpBlue);
}