/* Styles pour le bouton Évaluer */
.ButtonEvaluate {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.button-evaluate {
    padding: 10px 20px;
    background-color: var(--CpBlue);
    color: var(--CWhite);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2vh;
}

.button-evaluate:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px var(--CoBlack);
}

/* Styles pour le popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

/* Styles pour les étoiles */
.stars-container img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Étoile sélectionnée */
.stars-container img.selected {
    content: url("/assets/images/EtoilePleine.png");
}

/* Bouton Soumettre */
.submit-rating.hidden {
    display: none;
}
.submit-rating {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--CpBlue);
    color: var(--CWhite);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
}
.submit-rating:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px var(--CoBlack);
}

.submit-rating:focus {
    box-shadow: 0px 0px 8px 2px var(--CpBlue);
    outline: none;
}

.submit-rating:active {
    transform: scale(0.95);
    box-shadow: none;
}

.submit-rating.hidden {
    display: none;
}