.image-enhaut {
    background-image: url('../photo_home.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.text-image-enhaut1 {
    color: white;
}

.text-image-enhaut2 {
    color: white;
}

.carrousel {
    width: 100vw;
    height: 30vh; /* 100% de la hauteur de la vue */
    margin: auto; /* Centre le carrousel horizontalement */
    overflow: hidden;
    position: relative;
}
  
.conteneur {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.diapositive {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


img {
width: 100%;
display: block;
}

.navi {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(0,0,0,0.5);
color: white;
border: none;
cursor: pointer;
padding: 10px;
z-index: 10;
}

.navi.gauche {
left: 10px;
}

.navi.droite {
right: 10px;
}

.indicateurs {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.point {
height: 10px;
width: 10px;
margin: 0 5px;
background-color: #bbb;
border-radius: 50%;
cursor: pointer;
}

.point2 {
height: 10px;
width: 10px;
margin: 0 5px;
background-color: #bbb;
border-radius: 50%;
cursor: pointer;
}
.point3 {
height: 10px;
width: 10px;
margin: 0 5px;
background-color: #bbb;
border-radius: 50%;
cursor: pointer;
}

.point4 {
height: 10px;
width: 10px;
margin: 0 5px;
background-color: #bbb;
border-radius: 50%;
cursor: pointer;
}

.point.actif {
background-color: #717171;
}
