:root {
    --widthmenu: 10%;
}


body > nav {
    left: 0;
    top: 10%;
    bottom: 0;
    position: absolute;

    width: var(--widthmenu);
    background-color: var(--CGrey);

    display: flex;
    justify-content: start;
    align-items: start;

    flex-direction: column;

}

main {
    position: absolute;
    left: 20%;
    top: var(--widthmenu);
    bottom: 0;
    right: 0;
    overflow-y: auto;
}